/* -----------------------------------------------------------------first dection start------------------------------------------------------------------------- */
.main_AI_helps{
    background-color: black;
    color:white;
} 
.main_AI_helps1{
    /* border:2px solid rgb(223, 15, 15); */
    padding:0 16rem 0 16rem;
}
.AI_BOX1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border:2px solid rgb(0, 255, 98); */
    height: 27rem;
}
.AI-box_child{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* border:2px solid rgb(255, 81, 0); */
    width:60rem;
}
.AI-box_child2 img{
    /* border: 0.1px solid  rgba(0,0,0,0.1); */
    box-shadow: 0 3px 25px gray;
    border-radius: 1rem;
    margin-top: 3.5rem;
}

.AI-box_child1 h1{
    font-size: 3rem;
    line-height:3.5rem;
}
.AI-box_child1 p{
    font-size:1re2;
}
.button{
    display: flex;
    gap:1.5rem;
}
button{
    height: 2rem;
    cursor: pointer;
    font-size: 1rem;
}
#btn1{
    background-color: transparent;
    color: white;
    border: none;
    
}
#btn1:hover, #btn2:hover{
    text-decoration: underline;
}
span{
    color: rgb(4, 160, 4);
}
 /* ---------------------------------------------------------------------------first section end--------------------------------------------------------------- */

 /* --------------------------------------------------------------------------secon section start -----------------------------------------------------------*/

 .AI_BOX2{
 /* border:2px solid pink; */
 display: flex;
 justify-content: center;
 background-color: #313131;
}
.AI-box2_child{
    /* border:2px solid rgb(131, 199, 23); */
    width:60rem;
    
}

.itmes-box-child{
    /* border:2px solid orange; */
    display: flex;
    padding: 0 3rem 0 3rem;
    justify-content: space-around;
}
.items{
    text-align: center;
    font-size:1.3rem;
}
.items img{
    height: 100px;
}
.headernav h2{
    font-size:2.1rem;
    padding:0 0 0 4rem;
}


/*---------------------------------- third div start ----------------------------*/

.AI_BOX3{
  /* border:2px solid blue; */
  padding: 1.5rem 0 3rem 0;
  display: flex;
  justify-content: center;
}
.AI_BOX3_child{
    /* border:2px solid rgb(255, 51, 0); */
    width:50rem;

}
.AI_BOX3_sub-child1{
    /* border:2px solid rgb(0, 255, 13); */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}
.AI_BOX3_sub-child1 p{
    font-size: 1.2rem;
}
.AI_BOX3_sub-child1 h2{
    font-size:2rem;
}
sup i{
  /* border: 2px solid yellow; */
  font-size: 0.7rem;
}

p i{
    font-size:1rem;
}
p{
    line-height: 1.6rem;
}


 /*----------------------------------- third div end -------------------------- */


/*------------------------------------------------------------------ second section end-------------------------------------------------------------------- */

/* ---------------------------------------------------------------------footer start ----------------------------------------------------------------------*/
.main_footer{
    background-color: #313131;
    padding: 2rem 12rem 2rem 12rem;
    /* background-color: black; */
    color :rgb(228, 226, 224);
}
.main_footer_1{
    display: flex;
    justify-content: space-between;
}
.main_footer_2{
    font-size:0.1rem;
}
.footer_child_mdn{
    line-height:0.3rem;
}
ul{
 font-size: 1.3rem;
}
li{
    font-size: 1rem;
}
.mdn{
    font-size: 1.5rem;
}
.footer_child_icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:70%;
    line-height:5rem;
    /* border:1px solid blue; */
}
.footer2_child1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:50%;
    height:10%;
    line-height:4rem;
    font-size:0.9rem;
    /* border:1px solid rgb(216, 79, 102); */
}
i{
    font-size: 1.5rem;
}
#mdn{
    display: flex;
    background-color: white;
    height:2.5rem;
    width:7rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}
#mdn1{
    text-decoration: none;
    color:black
    
}
a{
    color:rgb(228, 226, 224);
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}
pre{
    line-height: 1.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:0.8rem;
}
.footer_chlid2, .footer_chlid3, .footer_chlid4, .footer_chlid5{
    line-height: 2rem;
}
.footer_icon1 img{
    /* border: 2px solid blue; */
    height:26px;
    width:26px;
    color: white;
    /* border: 50%; */
}
 /* ----------------------------------------------------------------------------footer end -------------------------------------------------------------- */